
.card-block{
    background-color: #EEE;
}
.d-inline-block{
    line-height: 3px;
}
.big-font{
    font-size: 2em;
}

.small-font{
    font-size: 0.7em;
    line-height: 3px;
}

.btn{
    border-radius: 25px;
}

.form-control{
     border-radius: 25px;
}

